*{
    margin: 0;
    padding: 0;
    transition: 0.5s;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

body{
    height: 100vh;
    background: #808080;
    color: black;
}

a{
    text-decoration: none;
    color: black;
}

p{
    margin: 10px;
}

.container{
    width: 80%;
    margin: auto;
    text-align: center;
}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}

.head a {
    background-color: black;
    color: black;
    display: inline-block;
    width: 15%;
    border-radius: 5px;
}

.head a:hover{
    background-color: blackenrod;
}
.head #active{
    border: 2px solid black;
}

input{
    color: black;
    height: 30px;
    outline: none;
    border: none;
    margin: 5px 0;
    border-radius: 5px;
    padding: 5px;
    background: lightgray;
    text-align: right;
}
input:hover{
    background:whitesmoke;
    transform: scale(1.1);
}

select, option{
    color: black;
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    margin: 5px 0;
    border-radius: 5px;
    padding: 5px;
    background: lightgrey;
    cursor: pointer;
    text-align: right;
}
select:hover{
    background:whitesmoke;
    transform: scale(1.1);
}

button{
    width: 100%;
    height: 39px;
    outline: none;
    border: none;
    margin: 5px 0;
    border-radius: 5px;
    padding: 5px;
    background: black;
    color: white;
    cursor: pointer;

}
button:hover{
    background: darkslategrey;
    letter-spacing: 3px;
}

table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
th, tr, td{
    padding: 5px;
    border-top: 2px solid black;
    border-radius: 5px;
}
tr:hover{
    transition: 0.1s;
    color: black; 
    background: gray;
}

#items{
    width: 100%;
    display:inline-block;
    border: 2px solid black;
    padding: 2px;
    margin-top: 20%;
}
#items button{
    width: 32.6%;
}

.document{
    width: 33%;
}

h1, h2, h3, #unplay{
    color: black; 
    background: black;
    border-bottom: 2px solid black;
    text-align: center;
    border-radius: 5px;
}
h4{
    color: black; 
    background: black;
    border-bottom: 2px solid black;
    text-align: center;
}
#output{
    width: 99%;
    border: 5px solid black;
    text-align: center;
    border-radius: 5px;
}
#box{
    width: 32%;
    display:inline-block;
    border: 2px solid black;
    padding: 2px;
}

#count{
    width: 85%;
}
#discount{
    width: 12%;
}

.next{
    width: 40px;
    height: 40px;
    background: black;
    color: black;
    border-radius: 100%;
    text-align:center;
    position:absolute;
}
.previous{
    width: 40px;
    height: 40px;
    background: black;
    color: black;
    border-radius: 100%;
    text-align:center;
    position:absolute;
}

a{
    color: black;
}
h2 a{
    color: black;
}

/* From Uiverse.io by kamehame-ha */ 
.light-button button.bt {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

.light-button button.bt .button-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background-color: #0a0a0a;
  border-radius: 5px;
  color: #0f0f0f;
  font-weight: 700;
  transition: 300ms;
  outline: #0f0f0f 2px solid;
  outline-offset: 20;
}

.light-button button.bt .button-holder svg {
  height: 50px;
  fill: #0f0f0f;
  transition: 300ms;
}

.light-button button.bt .light-holder {
  position: absolute;
  height: 200px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.light-button button.bt .light-holder .dot {
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  background-color: #0a0a0a;
  border-radius: 10px;
  z-index: 2;
}

.light-button button.bt .light-holder .light {
  position: absolute;
  top: 0;
  width: 200px;
  height: 200px;
  clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
  background: transparent;
}

.light-button button.bt:hover .button-holder svg {
  fill: rgba(88, 101, 242, 1);
}

.light-button button.bt:hover .button-holder {
  color: rgba(88, 101, 242, 1);
  outline: rgba(88, 101, 242, 1) 2px solid;
  outline-offset: 2px;
}

.light-button button.bt:hover .light-holder .light {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(88, 101, 242, 1) 0%,
    rgba(255, 255, 255, 0) 75%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* From Uiverse.io by joe-watson-sbf */ 
.btn {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #ffedd3;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffc506;
  transition: 0.5s ease;
}

.btn:hover {
  color: #1e1e2b;
  transition-delay: 0.5s;
}

.btn:hover::before {
  width: 100%;
}

.btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffc506;
  transition: 0.4s ease;
  z-index: -1;
}

.btn:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}
