
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cairo, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: var(--bg);
    width: 100vw;
    height: 100vh;
}
:root{
    /* Map legacy vars to new theme for compatibility */
    --body-color-day: var(--bg);
    --body-color-night:#343a40;
    --header-color-night: var(--glass-bg);
    --navbar-color-night: var(--glass-bg);
    --product-div-night:#212529;
    --product-item-night: #393a41;
    --secondary-color: #282c34;
    --tertiary-color: #ffffff;
    --quaternary-color: #ffffff;
}
.settings{
    padding:55px 0px;
    background-color:ghostwhite ;
    height: 100vh;

}
.settings h4{
    text-align: center;
}
.settings-content ul{
    list-style: none !important;
    padding: 10px 5px;
}

.nightMode{
    display: flex;
    justify-content: space-between;
}
/* The switch - the box around the slider */
.switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    ;
   transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #303136;
  }
  
  input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
  }